.a-propos-contenu {
    margin:auto;
}
.contenu h2 {
    margin-top: 30px;
}
.contenu ul {
    margin-top:30px;
}
.contenu + div {
    text-align: center;
}
.contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
    margin-bottom: 80px;
    width: 50%;
    margin: auto;
}
h2 {
    margin-bottom: 80px;
}
table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 100%;
    color: white;
}
td, th {
    border: 1px solid #a5b4fc;
    padding: 15px;
}
h1, h2 {
    text-align: center;
}
td {
    padding: 80px;
}
@media screen and (max-width: 996px){
    .Tarifs {
        display: none;
    }
}