.grid-paysages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
  }
  .grid-portrait {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
  }
  .grid-paysages img,
  .grid-portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .Portfolio-Photos h2 {
    color: #242424;
    margin-bottom: 80px;
  }
  .Portfolio-Photos {
    background-color: white;
  }
  .voir-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
}
.lien-photo:hover .voir-photo{
    display: flex;
}
.lien-photo {
    position: relative;
}
h2 {
    margin-top: 80px;
}
@media screen and (max-width: 996px) {
  .grid-paysages {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .grid-portrait {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
  
